# OS
.DS_Store
Thumbs.db
.directory
.directory*

# Editor
.idea/
.vscode/
*.swp
*.swo

# Python
__pycache__/
.ipynb_checkpoints/
*.pyc
*.pyo
.venv/
venv/
*.egg-info/

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib

# Rust
target/

# Secrets / env
.env
.env.*
